
.flex {
  display: flex;
   margin-top: 20px;
}
tr{
  text-align: center;
}

.text h2{
  font-size:26px;
  margin-bottom:20px;
  color:#1d2d50;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:8px;
  overflow:hidden;
}

table thead{
  background:#1d2d50;
  color:white;
}

table th,table td{
  padding:12px 15px;
  border-bottom:1px solid #ccc;
  font-size:15px;
}

table tbody tr:nth-child(even){
  background:#f3f4ff;
}

table tbody tr:hover{
  background:#e0e4ff;
}

.vehicle-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.overlay-booked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0.6);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
 
}

.btn-disabled {
    background: #888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}
