* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  width: 100%;
  height: 90px;
  background: rgba(3, 28, 73, 0.9);
  /* backdrop-filter: blur(14px); */
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.left {
  display: flex;
  align-items: center;
}

.imglogo {
  width: 65px;
  margin-right: 14px;
  transition: 0.3s;

}

.imglogo:hover {
  transform: scale(1.05);
}

.brand {
  font-size: 30px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #1a126f;
  color: white;
  min-height: 100vh;
  padding: 20px 10px;
  margin: 10px;
}

.users-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  margin-bottom: 10px;
  margin-left: 70px;
}

.users-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  justify-content: center;
}

.sidebar h4 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 8px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  transition: background 0.3s, transform 0.2s;
  
}

.menu:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateX(5px);
}

/* MAIN CONTENT */
.main {
  flex: 1;
  padding: 30px;
}

.text h2 {
   font-size: 32px;
    margin-bottom: 30px;
    color: #000000;
}

.dash {
  color: #6e6e6e;
  margin-bottom: 20px;
}

/* BOXES */
.box {
  width: 220px;
  height: 120px;
  background-color:#132b6a;
  border: 2px solid #1a126f;
  border-radius: 10px;
  margin: 10px;
}

.boxtext {
  color: #ffffff;
  padding: 20px 10px 0 10px;
}

.box p {
  padding-left: 20px;
  font-weight: bold;
  font-size: 30px;
  color: aliceblue;
}

.round {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff;
  margin: 20px 10px 0 20px;
}
.roundrecent {
  border: 2px solid #aaa;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  height: 300px;
  background: white;

}
.roundrecent >h3{
padding: 10px 10px 2px 10px;
}
.roundrecent >p{
    color:#ffffff; 
    font-size: 16px;
    padding-left:10px ;
    padding-bottom: 10px;
}
.round i {
  font-size: 18px;
  color: #053756;
}


.recent-row {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top:10px ;
}


.small-icon {
    padding: 8px;
    margin-top: 0;
}

/* treading vehicle */

.section{
  
    padding: 60px 20px;
}

.section h2{
    font-size: 32px;
    margin-bottom: 30px;
    color: #020c2a;
}

.cards{
    display: flex;
   
    gap: 25px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.12);
    transition: 0.3s;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}
.card button{
  width: 70px;
  height: 30px;
  color: aliceblue;
  background-color: #1a126f;
  border-radius: 40px;
  margin-top: 20px;
margin-left: 90px;
}

.card img{
    width: 250px;
   margin-left: 10px;
}

.card h3{
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
}